.git
.vscode
.idea
.github
.env
.env.production
.env.backup
*.sqlite
node_modules
public/build
public/hot
/storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
readme.md
README.md
docs/